{% extends 'enquiry/base.html' %}
{% load static %}

{% block sub_title %}
  Example app
{% endblock sub_title %}

{% block sub_heading %}
  Example app
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% if not report_list %}
          <li class="pure-menu-item">
            <a href="{% url 'project.report.view' 'squares' %}" class="pure-menu-link">
              <i class="fa fa-comments-o"></i>
              Create Squares and cubes Report
            </a>
          </li>
          {% endif %}
          {% comment %}
          <li class="pure-menu-item">
            <a href="{% url 'enquiry.list' %}" class="pure-menu-link">
              <i class="fa fa-comments-o"></i>
              List of Enquiries
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'example.enquiry.create' %}" class="pure-menu-link">
              <i class="fa fa-comments-o"></i>
              New Enquiry
            </a>
          </li>
          {% endcomment %}
        </ul>
      </div>
    </div>
  </div>
  {% if report_list %}
  <div class="pure-g">
    <div class="pure-u-1"><h3>Available Reports:</h3></div>
    {% for report in report_list %}
    <div class="pure-u-3-5">
      <a href={% url 'report.schedule.csv.view' report.pk %}>{{ report.report.title }}</a>
    </div>
    <div class="pure-u-2-5">
      {{ report.completed_date }}
    </div>
    {% if forloop.last %}
      <div class="pure-u-1"><a href="{% url 'report.schedule.csv.latest' report.report.pk %}">Latest</a></div>
    {% endif %}
    {% endfor %}
  </div>
  {% else %}
  <div class="pure-g">
    <div class="pure-u-1">Login to see your available reports...</div>
  </div>
  {% endif %}
{% endblock content %}
