{% if object and object.completed_date %}
<li class="pure-menu-item">
  <a id="id_download_button" href="{% url 'report.schedule.download' object.pk %}" class="pure-menu-link" title="Download the latest version of the information on this page in CSV format">
    <i class="fa fa-cloud-download"></i>
    Download CSV
  </a>
</li>
{% endif %}
