<table width="100%" class="{% if table_class %}{{ table_class }}{% else %}pure-table pure-table-bordered{% endif %}">
  <thead>
    <tr>
      {% for column in report_titles %}
        <th>{{ column }}</th>
      {% endfor %}
    </tr>
  </thead>
  {% with report_titles|length as num_cols %}
  <tbody>
    {% for row in data %}
      <tr valign="top">
        {% for field in row %}
          {% with row|length as row_cols %}
          {# if row only has a single column and table is multi-column assume it is a heading give it the whole row and make it bold #}
          <td{% if row_cols == 1 and num_cols > 1 %} colspan="{{ num_cols }}" style="font-weight: bold;"{% endif %}>{{ field }}</td>
          {% endwith %}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
  {% endwith %}
</table>
