{% if object and object.completed_date %}
  Report Generated : {{ object.completed_date|date:'d/m/Y H:i' }}
  {% if display_paginate_by_message %}
    <small class="errorlist">
      (Displaying the first {{ paginate_by }} rows of {{ total_row_count }})
    </small>
  {% endif %}
{% elif scheduled %}
  <style>
    span.spaced { margin-left: 10px;}
    span.green-text{ background-color: rgba(224, 255, 184, 1);}
    span.yellow-text{ background-color: rgba(255, 255, 184, 1);}
  </style>
  <i class="fa fa-clock-o"></i>
  <span class='spaced yellow-text' id="id_new_version_text">
    A new report is being generated.
    When available, click 'Refresh Page' to retrieve the new version.
  </span>
{% elif can_update_report %}
  <span class='spaced'>To generate a new version click 'Update Report'</span>
{% else %}
  <i class="fa fa-warning"></i>
  No report available.
{% endif %}
