{% if scheduled %}
<script>
  var do_refresh = false;
  function configure_refresh(setup) {
    if (setup) {
      $('#id_auto_refresh').html('<i class="fa fa-refresh"></i> Stop Refresh');
      $('#id_auto_refresh').prop('title', 'Click here to stop auto refresh');
      do_refresh = true;
      window.setTimeout(function() {
        if (do_refresh){
          location.href = "{{ path }}?autoRefresh=10";
        }
      }, 10000);
    }
    else {
      do_refresh = false;
      $('#id_auto_refresh').html('<i class="fa fa-refresh"></i> Auto Refresh');
      $('#id_auto_refresh').prop('title', 'Click here to refresh this page with a the latest version of the report');
    }

  }

  {% if auto_refresh %}
    configure_refresh(true);
  {% endif %}

  $("#id_auto_refresh").click(function (event) {
      event.preventDefault();
      configure_refresh(!do_refresh);
  });
</script>
{% endif %}
