{% if scheduled %}
  <li class="pure-menu-item">
    <a href="#" id="id_auto_refresh_button" class="pure-menu-link" title="Click here to automatically check for if the new version is generated">
      <i class="fa fa-refresh"></i>
      {% if button_text %}{{ button_text }}{% else %}{% if auto_refresh %}Stop Refresh{% else %}Auto Refresh{% endif %}{% endif %}
    </a>
  </li>
{% endif %}
