{% if scheduled %}
  <li class="pure-menu-item">
    <a id="id_refresh_button" class="pure-menu-link pure-menu-disabled" title="Refresh this page with a the latest version of the report">
      <i class="fa fa-refresh"></i>
      Refresh Page
    </a>
  </li>
{% elif can_update_report %}
  <li class="pure-menu-item">
    <form action="{% url 'project.report.specification.schedule' report.pk %}{% if next %}?next={{ next }}{% endif %}" method="post" class="pure-form">
      {% csrf_token %}
      {% if form.non_field_errors %}
        {{ form.non_field_errors }}
      {% endif %}
      <button id="id_update_button" type="submit" class="pure-button pure-button-primary">
        <i class="fa fa-refresh"></i>
        Update Report
      </button>
    </form>
  </li>
{% endif %}
