{% extends "dash/base.html" %}

{% block sub_title %}
  Report
  {% if report_title %}
    - {{ report_title }}
  {% endif %}
{% endblock sub_title %}

{% block sub_heading %}
  Report
  {% if report_title %}
    - {{ report_title }}
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            {% if next %}
              <a href="{{ next }}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% else %}
              <a href="{% url 'project.report' %}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% with legend=report_title %}
      {% with submit='Click here to run the report ...' %}
        {% include '_form.html' %}
      {% endwith %}
      {% endwith %}
      {% if help_text %}
        <strong>
          Note:
        </strong>
        {{ help_text|linebreaksbr }}
      {% endif %}
    </div>
  </div>
{% endblock content %}


{% block script_extra %}
  {{ block.super }}
  {% include 'base/_chosen.html' %}
{% endblock script_extra %}
