{% extends 'dash/base.html' %}
{% load static %}

{% block sub_title %}
  {{ report.title}} Report
{% endblock sub_title %}

{% block sub_heading %}
  {{ report.title}} Report
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            {% if next %}
              <a href="{{ next }}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% else %}
              <a href="{% url 'project.report' %}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% endif %}
          </li>
          {% include 'report/_report_refresh_button.html' %}
          <li class="pure-menu-item">
            <a href="{% url 'report.schedule.list' %}" class="pure-menu-link">
              <i class="fa fa-table"></i>
              My Reports
            </a>
          </li>
          {% url 'project.report.csv.print' reportschedule.pk as print_url %}
          {% if print_url and not scheduled %}
          <li class="pure-menu-item">
            <a href="{{ print_url }}" class="pure-menu-link" target="_blank">
              <i class="fa fa-print"></i> Print
            </a>
          </li>
          {% endif %}
          {% include 'report/_report_download_button.html' %}
        </ul>
      </div>
    </div>
    <div class="pure-u-1">
      {% if title %}
        <strong>
          {{ title }}
        </strong>
        <br>
      {% endif %}
      {% include 'report/_report_generate_info.html' %}
    </div>
  </div>
  {% include 'report/_report_view.html' %}
{% endblock content %}

{% block script_extra %}
  {% include 'report/_report_status_js.html' %}
{% endblock script_extra %}
