{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  My Reports
{% endblock title %}

{% block sub_heading %}
  My Reports
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            {% if next %}
              <a href="{{ next }}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% else %}
              <a href="{% url 'project.report' %}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% endif %}
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'report.schedule.list' %}" class="pure-menu-link">
              <i class="fa fa-refresh"></i>
              Refresh Page
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <i class="fa fa-info-circle"></i>
      Click on a report title to check progress or view the data...
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Created</th>
            <th>Description</th>
            <th>Completed</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for o in object_list %}
            <tr valign="top">
              <td>
                <small>
                  {{ o.created|date:'d/m/Y H:i' }}
                </small>
              </td>
              <td>
                <a href="{% url 'report.schedule.csv.view' o.pk %}?next={{ path }}">
                  {{ o.report.title }}
                </a>
              </td>
              <td>
                {{ o.completed_date|date:'d/m/Y H:i' }}
              </td>
              <td>
                {% if o.completed_date %}
                  <a href="{% url 'report.schedule.download' o.pk %}">
                    <i class="fa fa-cloud-download"></i>
                    Download
                  </a>
                  {% url 'project.report.csv.print' o.pk as print_url %}
                  {% if print_url %}
                    <a href="{{ print_url }}" target="_blank">
                      &nbsp;&nbsp; <i class="fa fa-print"></i>
                      Print
                    </a>
                  {% endif %}
                {% else %}
                  <i class="fa fa-clock-o"></i>
                  Running
                  {% if o.retries %}
                    <small>
                      &nbsp; <i class="fa fa-warning"></i>
                      {{ o.retries }}
                      retries
                    </small>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
