{% extends 'dash/base.html' %}
{% load static %}

{% block sub_title %}
  Reports Menu
{% endblock sub_title %}

{% block sub_heading %}
  Reports Menu
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'report.schedule.list' %}?next={{ request.path }}" class="pure-menu-link">
              <i class="fa fa-table"></i>
              My Reports
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% for group_heading, reports in reports_menu %}
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 ts-box">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>{{ group_heading }}</th>
          </tr>
        </thead>
        <tbody>
          {% for report in reports %}
            <tr>
              <td>
                <a href="{% url 'project.report.slug' report.slug %}?next={{ request.path }}">
                  {{ report.title }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% empty %}
    <p>No reports found</p>
  {% endfor %}
{% endblock content %}
