{% extends 'dash/base.html' %}

{% block sub_title %}
  {{ object.title }}
  Report
{% endblock sub_title %}

{% block sub_heading %}
  {{ object.title }}
  Report
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.report' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <i class="fa fa-table"></i>
      Click
      <strong>Create report...</strong>
      to schedule the
      <strong>
        '{{ object.title }}'
      </strong>
      report.
      {% include '_form.html' with submit='Create report...' %}
      {% if object.help_text %}
        <i class="fa fa-info-circle"></i>
        {{ object.help_text }}
      {% endif %}
    </div>
  </div>
{% endblock %}
